# Put this in /etc/systemd/system
[Unit]
Description=Kodubot Slack Bot Real Time Messager
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/bobrock/kavalkilu/sensors/slackbot/viktor.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
