
# Put this in /etc/systemd/system
# Refresh with sudo systemctl daemon-reload
# Call with sudo systemctl start <service-name>

[Unit]
Description=Hosts API
After=network.target

[Service]
User=bobrock
ExecStart=/bin/bash -c "source ~/venv/netapi/bin/activate ; flask run --host=0.0.0.0 --port=5002"
Restart=always

[Install]
WantedBy=multi-user.target
